<div class="container-fluid d-flex justify-content-left align-items-center py-3" style="width: 90%; ">
  <h1>List of bags</h1>
  <%= link_to "Create a new Bag", new_bag_path, class: "btn btn-primary m-3" %>
</div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="search-bar">
  <%= form_with url: bags_path, local: true, method: :get do |form| %>
    <%= form.label :query, "Search by:" %>
    <%= form.radio_button :search_by, "location", checked: "checked" %>
    <%= form.label :search_by_location, "Location" %>
    <%= form.radio_button :search_by, "brand" %>
    <%= form.label :search_by_brand, "Brand" %>
    <%= form.text_field :query %>
    <%= form.submit "Search", class: "btn btn-brand"%>
  <% end %>
</div>
<div class="container-fluid d-flex justify-content-center py-3">
  <div style="width: 90%;">
    <h2>Rent a bag next to your place</h2>
    <h4>Near Florida, US</h4>
    <div class="row d-flex justify-content-around ">
      <div class="cards">
        <% @bags.each do |bag| %>
          <a class="card-a" href=" <%= bag_path(bag) %>">
            <div class="card mx-2" >
              <%= cl_image_tag bag.photos.first.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
              <div class="card-body">
                <p><%= bag.location %></p>
                <h5> <%= bag.name %> </h5>
                <h5> <%= bag.rate %> $ / day</h5>
              </div>
            </div>
          </a>
        <% end  %>
      </div>
    </div>
  </div>
</div>

