<h1>List of bags</h1>
<%= link_to "Create a new Bag", new_bag_path %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container-fluid d-flex">
  <div style="width: 100%;">
    <h2>Rent a bag next to your place</h2>
    <h4>Near Montréal, Québec</h4>
    <div class="row d-flex m-2">
      <div class="cards">
        <% @bags.each do |bag| %>
          <a href=" <%= bag_path(bag) %>">
            <div class="card">
              <img class="card-img-top" src="https://i.pinimg.com/originals/93/44/61/93446102dbeefc7769317f3b817cdaca.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><%= bag.location %></p>
                <h5 class="card-title"> <%= bag.name %> </h5>
                <h5 class="card-price"> <%= bag.rate %> $ / day</h5>
              </div>
            </div>
          </a>
        <% end  %>
      </div>
    </div>
  </div>

</div>