<div class="container-fluid d-flex justify-content-center pb-3">
  <h1 style="margin-top: 80px">List of bags</h1>
</div>
<div id="map"
    style="width: 80%; height: 600px; margin: 18px auto;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="search-bar d-flex justify-content-center">
  <%= form_with url: bags_path, local: true, html: { class: "form-search justify-content-between align-items-center " } ,method: :get do |form| %>
    <%= form.label :query, "Search by:" %>
    <%= form.radio_button :search_by, "location", checked: "checked" %>
    <%= form.label :search_by_location, "Location" %>
    <%= form.radio_button :search_by, "brand" %>
    <%= form.label :search_by_brand, "Brand" %>
    <%= form.text_field :query %>
    <span>
      <select name="km" id="km-select">
        <option value="10">KMs</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
    </select>
  </span>
    <%= form.submit "Search", class: "btn"%>
  <% end %>
</div>
<div class="container-fluid d-flex justify-content-center py-3">
  <div style="width: 80%;">
    <h2>Rent a bag next to your place</h2>
    <h4><%= params[:query].present? ? "All Bags Near #{params[:query].capitalize}" : "All Bags"%></h4>
    <div class="row d-flex justify-content-around ">
      <div class="cards">
        <% @bags.each do |bag| %>
        <% if current_user == bag.user %>
          <a class="card-a" href=" <%= bag_path(bag) %>">

            <div class="card mx-0 owned" >
              <% if bag.photos.attached? %>
                <%= cl_image_tag bag.photos.first.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= cl_image_tag "3tzknnb0s353vzvkwaecqc1a7y1y", class: "card-img-top" %>
              <% end %>

              <div class="card-body">
                <p><%= bag.location %></p>
                <h5> <%= bag.name %> </h5>
                <h5> $ <%= '%.2f' % bag.rate %> per day</h5>
              </div>
            </div>
          </a>
          <% else %>
          <a class="card-a" href=" <%= bag_path(bag) %>">
            <div class="card mx-0">
              <%= cl_image_tag bag.photos.first.key, class: "card-img-top", height: 300, width: 400, crop: :fill %>
              <div class="card-body">
                <p><%= bag.location %></p>
                <h5> <%= bag.name %> </h5>
                <h5> $ <%= '%.2f' % bag.rate %> per day</h5>
              </div>
            </div>
          </a>
          <% end %>

        <% end  %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newbagmodal" tabindex="-1" role="dialog" aria-labelledby="newbagmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new bag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container my-3">
          <div class="form">
            <%= simple_form_for @bag, html: {id: "no-form"} do |f| %>
              <%= f.input :name, label: "Bag Name" %>
              <%= f.input :description %>
              <%= f.input :location %>
              <%= f.input :rate %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="green" data-dismiss="modal">Close</button>
        <%= f.submit 'Create Bag', class: "green"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>