<h1 class="text-center pt-5">List new bag</h1>

<div class="bag-form">
  <%= simple_form_for @bag do |f| %>
    <%= f.input :name, label: "Bag Name" %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :rate %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-brand" %>
  <% end %>
</div>
