<h1> <%=  @bag.name %></h5>
<p><%= @bag.description %></p>
<p><%= @bag.location %></p>
<p><%= @bag.rate %></p>
<%= link_to "Edit", edit_bag_path  %>
<%= link_to "Destroy", bag_path(@bag) , method: :delete, data: { confirm: "Are you sure?" }   %>