<div>
  <div class="d-flex justify-content-center">
    <div id="map"
        style="width: 600px; height: 513px; margin: 10px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div>
      <%= render '../views/layouts/gallery' %>
    </div>
  </div>
   
  <div class="container d-flex py-2">
    <div class="container-bag">
      <div class="show-headers d-flex align-items-baseline" style="margin-top: 20px">
        <h1 ><%=  @bag.name %></h1>
        <h3 style="margin-left: 8px"><%= @bag.location %></h3>
      </div>
      <div>
        <h2>Description :</h2>
        <p style="margin-right: 8px;"><%= @bag.description %></p>
        <div class="d-flex">
        <h5 id="bag-rate"> <%= @bag.rate %></h5>
        <h5> $ / day</h5>
        </div>
        <%= link_to "Back to the index", bags_path %>
      </div>
    </div>
    <div id='bag-rental-dates' data-unavailable="<%= @bag.unavailable_dates.to_json %>">
      <% if current_user.id != @bag.user_id  %>
        <%= simple_form_for [@bag, @rental], html: { id: "new_rental_show_page" } do |f| %>
        <h4 style=" text-align: center;">Add dates to check availability and price</h4>
          <%= f.input :start_date, as: :string, type: :text %>
          <%= f.input :end_date, as: :string, type: :text %>
          <%= f.submit "Rent a bag !", class: "btn btn-primary" %>
        <ul id="display-list" class="list-inline">
        </ul>
        <h5 style="text-align: center margin-top:8px;" id="nb-of-days"></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  <% if current_user == @bag.user %>
      <%= link_to "Edit", edit_bag_path %>
      <%= link_to "Destroy", bag_path(@bag) , method: :delete, data: { confirm: "Are you sure?" }   %>
  <% end %>
