<h1 class="header">Rentals</h1>

<h3 class="header">My requests</h3>

<div class="rental-container">
  <% @rentals_user.each do |rental| %>
    <div class="rental-card">

      <p>Bag owner: <strong><%= rental.bag.user.email %></strong></p>
      <p>Bag: <strong><%= rental.bag.name %></strong></p>

      <ul class="date">
        <li>Start Date: <%= rental.start_date.strftime("%b %d, %Y") %></li>
        <li>End Date: <%= rental.end_date.strftime("%b %d, %Y") %></li>
      </ul>

      <div class="links">
        <%= link_to "View this rental", rental_path(rental) %>
        <%= link_to "Cancel this rental", rental_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>

<h3 class="header">Incoming requests</h3>

<div class="rental-container">
  <% @rentals_owner.each do |rental| %>
      <div class="rental-card">

        <p>Renter: <strong><%= rental.bag.user.email %></strong></p>
        <p>Bag: <strong><%= rental.bag.name %></strong></p>

        <ul class="date">
          <li>Start Date: <%= rental.start_date %></li>
          <li>End Date: <%= rental.end_date %></li>
        </ul>

        <div class="links">
          <%= link_to "View this rental", rental_path(rental) %>
        
          <%= link_to "Cancel this rental", rental_path(rental), method: :delete, data: { confirm: "Are you sure?" }, class: "cancel" %>
        </div>
      </div>
    <% end %>
</div>