<div class="container mb-5">
  <div class="row justify-content-center rounded p-5">
    <div class="col-lg-6 col-md-2 rounded-lg p-5">
      <h1 class="my-3 py-3"><%= @rental.user.email %>'s Rental</h1>

      <ul class="list-inline">
        <li>Start Date: <%= @rental.start_date.strftime("%b %d, %Y") %></li>
        <li>End Date: <%= @rental.end_date.strftime("%b %d, %Y") %></li>
        <li>Accepted: <strong><%= @rental.accepted ? 'Yes✔️' : 'Pending..' %></strong></li>
        <br>
        <% total_days = ((@rental.end_date - @rental.start_date) + 1).to_i %>
        <% bag_rate = @rental.bag.rate %>
        <li>Total days: <%= pluralize(total_days, 'day')%></li>
        <li>Bag rate: $ <%= '%.2f' % (bag_rate) %> per day</li>
        <hr>
        <li><strong>Total: $ <%= '%.2f' % (total_days * bag_rate) %></strong></li>
      </ul>

      <% if current_user == @rental.bag.user %>
        <%= link_to "Accept", accept_rental_path(@rental), class: "btn btn-brand my-3" %>
        <%= link_to "Edit", edit_rental_path(@rental), class: "btn btn-brand my-3" %>
      <% end %>

      <%= link_to "Cancel This Rental", rental_path(@rental), class: "btn btn-brand my-3", method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "Back To Rentals", rentals_path, class: "btn btn-brand my-3" %>
    </div>
  </div>
</div>
