<div class="container mb-5">
  <div class="row justify-content-center rounded p-5">
    <div class="col-lg-6 col-md-2 rounded-lg p-5">
      <h1 class="my-3 py-3"><%= @rental.user.email %>'s Rental</h1>

      <ul class="list-inline">
        <li>Start Date: <%= @rental.start_date.strftime("%b %d, %Y") %></li>
        <li>End Date: <%= @rental.end_date.strftime("%b %d, %Y") %></li>
        <li>Accepted: <strong><%= @rental.accepted ? 'Yes✔️' : 'Pending..' %></strong></li>
        <br>
        <li>Total days: <%= total_days = ((@rental.end_date - @rental.start_date) + 1).to_i %> day(s)</li>
        <li>Bag rate: $<%= @rental.bag.rate %> per day</li>
        <hr>
        <li><strong>Total: $<%= total_days * @rental.bag.rate %></strong></li>
      </ul>

      <% if current_user == @rental.bag.user %>
        <%= link_to "Accept this rental", accept_rental_path(@rental), class: "btn btn-brand my-3" %>
        <%= link_to "Edit this rental", edit_rental_path(@rental), class: "btn btn-brand my-3" %>
      <% end %>

      <%= link_to "Cancel this rental", rental_path(@rental), class: "btn btn-brand my-3", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
